/*---GENERAL---*/
html { 
  scroll-behavior: auto;
}

.genFont {
  font-family: monospace, serif;
}

.sectionFont {
  font-weight: bold;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

/*---NAVBAR---*/
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.6s;
  z-index: 100000;
}

#nameHeader {
  font-size: 30px !important;
}

.banner {
  position:relative; 
}

header.sticky {
  padding: 5px 100px;
  background: #fff;
}

header.sticky ul li a {
  color: #000;
  
}

@media (min-width: 768px) {
  .navbar-brand.abs {
        position: absolute;
        width: auto;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
  }
}

.navbar-custom {
  background-color: #c5e5ff;
  border-bottom: 1px solid rgba(53, 51, 52, 0.761);
}

nav .location ul li.active {
  background-color: white;
  transition: 0.3 ease background-color;

}

.connect {
  max-height: 50px;
  max-width: 100px;
  width: 50px;
  height: 50px;
}

hr {
  border-top: 1px solid rgb(255, 255, 255);
}

/*---ABOUT ME---*/
.intro {
  margin-top: 75px;
  margin-left: 125px;
}

/*---IMAGE + ZOOM IN---*/
.img-fluid {
  max-width: 100%;
  height: auto;
}

.projectEx img {
  width: 70%;
  transition: 0.5s all ease-in-out;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.project img {
    width: 90%;
    transition: 0.5s all ease-in-out;
}

.projectEx:hover img {
  transform: scale(1.05);
}

.project:hover img {
    transform: scale(1.05);
}

.project img {
    width: 90%;
    margin-left: 25px;
}

/*---My Graphic Designs---*/
@media only screen and (max-width: 700px) {
  .formatting {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .formatting {
    width: 100%;
  }
}

div.designs {
  border: 1px solid #ccc;
}

div.designs:hover {
  border: 1px solid #777;
}

div.designs img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.formatting {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

.tableFormat:after {
  content: "";
  display: table;
  clear: both;
}

/*---CONNECT---*/
.larger {
  max-height: 100px;
  max-width: 150px;
  width: 100px;
  height: 100px; 
}
